@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.topo {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;   
    background-color: #604829;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.secao-topo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
.logo img{
    width: 100%;
    height: 100%;
}
.secao-links{
  width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.topo p {
    font-family:'Oswald', sans-serif; 
    font-size: 18px;
    position: absolute;
    top: 35%;
    right: 15%;
    
        
}

.topo p a {
    margin-left: 20px;
    color: #c4a47c;
    text-shadow: 3px 3px black;
    
}

.banner-topo{
    height: 100vh;
    background-image: url(img/parallax-imagem1.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
   
}
h1{
    font-family: 'Fraunces', serif;
    font-size: 100px;
    font-weight: normal;
    color: white;
   /* position: absolute;
    top: 45%;
    right: 0;
    left: 50px;*/
  
   
    
}
.parallax1{
    display:flex;
    justify-content: center;
    align-items: center;
}
.secao-informacoes{
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
   
}
.texto{
    padding: 80px 80px;
    font-size: 16px;
    text-align: center;
    line-height: 34px;
    color: #666;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1024px;
}
.texto h2{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #c4a47c;
    margin-bottom: 20px;
}
.texto p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 1024px;

    
    
}
.parallax2,.parallax3,.parallax4 {
   position: relative;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   
}

.parallax2{
    background-image: url(img/parallax-imagem2.jpg);
    height: 50vh;
    margin: 0 auto;
    display: flex;
    
}
.parallax2  h3{
    background-color: #604829;
    color: white;
    font-family: 'Fraunces', serif; 
    font-size: 24px;
    width: 500px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 35%;
}
.parallax3{
    background-image: url(img/parallax-imagem3.jpg);
    height: 50vh;
}
.parallax3 h3{
    background-color: #604829;
    color: white;
    font-family: 'Fraunces', serif; 
    font-size: 24px;
    width: 500px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 35%;

}
.parallax4{
    background-image: url(img/parallax-imagem4.png);
    height: 100vh;
    display: flex;
    align-items: center;
    

}
.parallax4 h2{
    width: 500px;
    padding: 10px;
    background-color: #604829;
    font-family:'Oswald', sans-serif; 
    font-size: 24px;
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    right: 0;
    left: 35%;

}

iframe{
    width: 1024px;
    height: 450px;
    /*position: absolute;
    top: 23%;
    left: 20%;
    right: 0;*/
    margin: 0 auto;
    
   
 
}
.box-contatos{
    width: 500px;
    padding: 10px;
    background-color: #604829;
    color: white;
    font-family:'Oswald', sans-serif; 
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom:8%;
    right: 0;
    left: 35%;
  

}

.secao-horarios{
    padding: 100px 20px ;
    background-image: url(img/cafeteria.jpg);
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   
}
.secao-horarios h2{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}
.lista-horarios{
    width: 100%;
    max-width: 768px;
}


.lista-horarios li { /* itens da lista */
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.lista li h3{
    color: white;
    flex: 0 1 80px;
}

.lista-horarios li div { /* tarja */
   /* width: 70%;*/
    height: 1px;
    background-color: #acacac;
    flex: 1 1 auto;
}

.lista li span, p { /* parágrafos */
    flex: 0 1 100px;
    text-align: right;
    
}
.lista li span p {
    color: #c4a47c;

}
